{% extends 'base.html' %} {% block content %}
<div id="app">
    <div class="container">
        <hr />
        {{error}}
       
        <div class="panel-default">
            <div class="panel-body">
                <form method="POST">
                        {% csrf_token %}
                    <!-- name -->
                 {{form.as_p}}
                   
                    <!-- Diabetes Melitus Status -->

                    <button type="submit"class="btn btn-success">Submmit</button>
                </form>
            </div>
        </div>

      
    </div>
</div>

{% endblock %} 
{% block script %}




{% endblock %}